@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

::after,
::before {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.wrapper {
  display: flex;
}
.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  transition: all 0.35s ease-in-out;
  background-color: white;
  min-width: 0px;
}

.main > .bg-custom {
  background-color: #0e2238;
}

/* sidebar */

#sidebar {
  position:fixed;
  height: -webkit-fill-available;


  width: 90px;
  min-width: 90px;
  z-index: 1000;
  transition: all 0.25s ease-in-out;
  /* background-color: #0e2238; */
  background-color: #0e2238;
  display: flex;
  flex-direction: column;
}
/* responsive js sidebar  */
#sidebar.expand {
  width: 260px;
  min-width: 260px;
}

#toggle-btn {
  background-color: transparent;
  cursor: pointer;
  border: 0px;
  padding: 1rem 1.5rem;
}

#toggle-btn i {
  font-size: 1.5rem;
  color: white;
}

.sidebar-logo {
  margin: auto 0px;
}

.sidebar-logo a {
  color: white;
  font-size: 1.15rem;
  font-weight: 500;
}

#sidebar:not(.expand) .sidebar-logo,
#sidebar:not(.expand) a.sidebar-link span {
  display: none;
}

#sidebar.expand .sidebar-logo,
#sidebar.expand a.sidebar-link span {
  animation: fadeIn 0.25s ease;
}
/* Animasi */
/* @keyframe fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
} */

.sidebar-nav {
  padding: 2rem 0;
  flex: 1 1 auto;
}

a.sidebar-link {
  padding: 0.625rem 1.625rem;
  color: white;
  display: block;
  font-size: 0.9rem;
  white-space: nowrap;
  border-left: 3px solid transparent;
}

.sidebar-link i,
.dropdown-item i {
  font-size: 1.1rem;
  margin-right: 0.75rem;
}
/* sidebar */



a.active{
   background-color: rgba(255, 255, 255, 0.075);
  border-left: 3px solid #3b7ddd;
}


a.sidebar-link:hover {
  background-color: rgba(255, 255, 255, 0.075);
  border-left: 3px solid #3b7ddd;
  /* border-left: 3px solid red; */
}

.sidebar-item {
  position: relative;
}

.navbar {
  background-color: #f5f5f5;
  box-shadow: 0 0 2rem rgba(33, 37, 41, 0.1);
}

.navbar-expand .navbar-collapse {
  min-width: 200px;
}

.avatar {
  width: 80px;
}
/* content dashbaord */
.card {
  background-color: #f5f5f5;
  transform: 0.4s;
  cursor: pointer;
  color: #000;
  margin-bottom: 1rem;
  transition: 0.4s;
}

.card:hover {
  background-color: #293b5f;
  color: white;
  transform: translateY(-10.5px);
}

.text-success {
  background-color: #71c664;
  padding: 0.25rem 0.35rem;
  font-size: 0.715rem;
  color: white !important;
  border-radius: 5px;
}

/* .table > thead tr {
  color: black;
  text-align: left;
} */

tr.highlight th {
  background-color: #293b5f;
  color: white;
}

.content {
  flex: 1 1 auto;
}

footer {
  background-color: #f5f5f5;
  padding: 1rem 0.875rem;
}

/* Responsive ny */
@media (min-width: 768px) {
  .navbar form {
    max-width: 320px;
  }

  .input-group-navbar .form-control:focus {
    outline: none;
    box-shadow: 0 0 0 0 rgba(255, 255, 255);
  }

  .input-group-navbar .form-control {
    color: #3e4455;
  }

  .form-control::placeholder {
    background-color: white;
  }

  .input-group-navbar .btn {
    background-color: #727cf5;
    color: white;
    cursor: pointer;
    z-index: 10000;
  }

  .navbar-expand .navbar-nav .dropdown-menu {
    box-shadow: 0.1rem 0.2rem rgba(0, 0, 0, 0.05);
  }
}
